/* This css file is to over write bootstarp css
---------------------------------------------------------------------- 
Theme Name: Circle - Responsive Round Pricing Tables
Version: 1.0
License: GNU General Public License v2 or later
*---------------------------------------------------------------------- */


/*---------------------------------------------------------------------- /
Table of Contents 
------------------------------------------------------------------------ /
// . General Settings
// . Sections
// . Circle Animation & Hover
// . Classic Circle & Hover
// . Pricing Buttons
// . FontAwesome fa class
// . Media Queries

------------------------------------------------------------------------ /
Table of Contents End
------------------------------------------------------------------------*/


/* ======= GENERAL  SETTINGS  ======= */

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #3C4857;
    margin: 0;
}

a {
    color: #e91e63;
    text-decoration: none;
}

a:hover {
    color: #e91e63;
    text-decoration: underline;
}

p {
    color: #3C4857;
}

.header {
    padding: 15px 0;
    text-align: center;
}

.footer {
    padding: 15px 0;
    background: #fafafa;
    text-align: center;
}

h3,
.h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 15px 0 15px;
}

h4,
.h4 {
    font-size: 1.3em;
    line-height: 1.55em;
}

h5,
.h5 {
    font-size: 0.9em;
    line-height: 1em;
    margin: 15px 0;
    font-weight: 300;
}

h6,
.h6 {
    font-size: 1.0em;
    text-transform: uppercase;
    font-weight: 700;
    color: #3C4857;
}


/* ======= SECTIONS  ======= */

.section-pricing {
    z-index: 3;
    position: relative;
}

.section-gray {
    background: #f7f7f7;
}

[class*="pricing-"] {
    padding: 120px 0 120px 0;
}


/* ======= CIRCLE ANIMATIONS & HOVER  ======= */

.block {
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0
}

.block i {
    padding-right: 5px
}

.block >li {
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 12px
}

.circle-animation-front,
.circle-animation-back {
    float: left;
    width: 250px;
    height: 250px;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 3px 0 #e3dfd6;
    box-shadow: 0 0 3px 0 #e3dfd6;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.color-info .bg,
.color-info .choose span {
    background: linear-gradient(60deg, #e6007e, #D10072);
}

.color-info .title,
.color-info .price,
.color-info .icon {
    color: #e6007e
}

.circle-animation-front > div {
    text-align: center
}

.circle-animation-front span.icon {}

.circle-animation-front span.icon i {
    position: relative;
    font-size: 60px;
    padding: 0;
}

.title {
    font-size: 1.0em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 40px 0 15px 0;
}

.price span {
   /* vertical-align: top;*/
    line-height: 0.7
}

.price span.currency {
    position: relative;
    top: 25px;
    font-size: 26px;
    font-weight: 400;
}

.price .total {
    font-size: 3.8em;
    line-height: 1.1em;
    font-weight: 700;
    font-family: "Lato", "Times New Roman", serif;
}

.currency,
.end {
    position: relative;
    top: 40px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", "Times New Roman", serif;
}

.circle-animation-back .title,
.circle-animation-back .currency,
.circle-animation-back .price span,
.circle-animation-back p {
    color: #fff;
}

.circle-animation-back .description ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 10px auto;
}

.circle-animation-back .description ul li {
    color: #FFF!important;
    text-align: center;
    list-style: none;
    line-height: 1.5;
    font-size: 15px;
}

.circleanimation {
    text-align: center;
    border-radius: 50%;
    position: relative;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.information {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    -moz-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-backface-visibility: hidden
}

.circleanimation:hover .circle-animation-front {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1
}

.circleanimation:hover .information {
    -moz-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    opacity: 1
}


/* ======= CLASSIC CIRCLE & HOVER  ======= */

.circle {
    background: #ffffff;
    padding: 20px;
    text-align: center;
    height: 210px;
    width: 210px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    /* Firefox 4 */
    -webkit-transition: all 0.5s;
    /* Safari and Chrome */
    -o-transition: all 0.5s;
    /* Opera */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.img-circle {
    border-radius: 50%;
}

.circle h6 {
    margin: 15px 0 15px 0;
    padding: 0;
}

.circle span.icon i {
    position: relative;
    padding: 0;
    font-size: 3.8em;
    line-height: 1.15em;
}

.circle span.price-large {
    font-size: 3.8em;
    line-height: 1.15em;
    font-weight: 700;
    font-family: "Lato", "Times New Roman", serif;
}

.price-chf {
    position: relative;
    top: -17px;
    font-size: 23px;
    font-weight: 300;
}

.price-small {
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", "Times New Roman", serif;
}


/* Circle Info CSS  */

.circle-info {
    background: linear-gradient(60deg, #e6007e, #D10072);
    padding: 20px;
    text-align: center;
    height: 210px;
    width: 210px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    /* Firefox 4 */
    -webkit-transition: all 0.5s;
    /* Safari and Chrome */
    -o-transition: all 0.5s;
    /* Opera */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.img-circle-info {
    border-radius: 50%;
}

.circle-info h6 {
    margin: 15px 0 15px 0;
    padding: 0;
    color: #fff;
}

.circle-info p {
    color: #fff;
}

.circle-info span.icon i {
    position: relative;
    top: -17px;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
}

.circle-info span.price-large {
    font-size: 3.8em;
    line-height: 1.15em;
    font-weight: 700;
    font-family: "Lato", "Times New Roman", serif;
    color: #fff;
}

.price-small {
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", "Times New Roman", serif;
}

.circle-info .price-small {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", "Times New Roman", serif;
}





/* ======= PRICING BUTTONS  ======= */

.btn,
.navbar > li > a.btn {
    border: none;
    border-radius: 20px;
    position: relative;
    padding: 6px 18px;
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.btn-round {
    border-radius: 30px;
}


/* btn-info */

.btn-info {
    color: #3C4857;
}


/* ======= MEDIA QUERIES  ======= */

@media only screen and (min-width:0) and (max-width:959px) {
    .content-wrapper {
        top: 0;
    }
    #center {
        top: 0;
        height: auto;
        padding: 30px 0;
    }
}

@media only screen and (min-width:480px) and (max-width:959px) {
    #center {
        left: -239px;
        width: 478px;
    }
}

@media only screen and (min-width:0px) and (max-width:479px) {
    #center {
        left: -118px;
        width: 236px;
    }
}