.toggle,.toggler {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.toggler {
  color: #ddd;
  transition: .2s;
  font-weight: bold;
}
.toggler--is-active {
  color: #e6007e;
}
.b {
  display: block;
}
.toggle {
  position: relative;
  width: 80px;
  height: 35px;
  border-radius: 100px;
  background-color: #e6007e;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}
.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}
.check:checked ~ .switch {
  right: 2px;
  left: 57.5%;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: .08s, 0s;
}
.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 57.5%;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, .08s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.pricing-section {
  padding: 30px 0 30px 0;
  float: left;
  width: 100%;
  text-align: center;
}

.nav-tabs{margin-bottom: -2px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {  border-top: 2px solid #e91e63;background: #f7f7f7;color: #e91e63;}
.nav-tabs>li>a{border-radius: 0;}
.section-gray{border: 1px solid #ddd;}
.nav-tabs>li>a {margin-right: -1px;border: 1px solid #ddd;color: #3C4857;}
.btn-info{background: #ddd;}
.circle-animation-back .btn-info{background: #fff;}
.btn-info:hover, .btn-info:focus{background: #000;color: #fff;}
.circle-animation-front, .circle-animation-back{padding: 0 20px 20px;}
.circle-animation-back .description ul li{line-height: 22px;}
.circle-animation-back .description ul{height: 110px;overflow: hidden;margin: 0 auto 10px;}
.tooltip-link {color: #fff;font-size: 24px;position: absolute;bottom: -5px;right: 20px;cursor: pointer;}
.description{position: relative;}
.circleanimation{position: inherit;}
.circleanimation:hover .information{z-index: 9;}
.toolip-box {display: none; background: #000; border-radius: 3px; position: absolute; width: 200px; right: -47px; top: 195px; z-index: 999; padding: 10px 10px 5px; }
.toolip-box:before {content: ''; border-right: 7px solid transparent; border-bottom: 7px solid #000; border-left: 7px solid transparent; position: absolute; top: -7px; }
.toolip-box ul{list-style-type: none; margin: 0; padding: 0; }
.toolip-box ul li {font-size: 13px; text-align: left; color: #fff; margin-bottom: 5px; }
.loader {position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; text-align: center; background: rgba(255,255,255,1); }
.loader img {position: absolute; top: 50%; transform: translate(0,-50%); left: 0; right: 0; margin: 0 auto; }

.company-tab .circle-animation-back .description ul {height: 120px;}
.company-tab .circle-animation-back .description ul li {line-height: 20px;}
.company-tab .toolip-box{top: 205px;}

@media screen and (max-width:991px) {        
    .pricing-section {padding: 60px 0 50px 0;}
}
@media screen and (max-width:767px) {
    [class*="pricing-"] {padding: 70px 0 70px 0;}
}