.padding-bottom-40px {
    padding-bottom: 40px;
}

.padding-top-40px {
    padding-top: 40px;
}

.padding-top-20px {
    padding-top: 20px;
}

.tooltip>.tooltip-inner {
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #e6007e;
}

.tooltip.top>.tooltip-arrow,
.tooltip.bottom>.tooltip-arrow,
.tooltip.left>.tooltip-arrow,
.tooltip.right>.tooltip-arrow {
    display: none;
}

.error-help-block {
    float: right !important;
    position: relative;
    bottom: 25px;
    right: 3px;
    cursor: pointer;
}

.error-help-block::before {
    color: #e6007e;
}

.has-error .bootstrap-select button {
    color: #e6007e !important;
}