<div class="tab-content">
	{{#each data as |type index| }}
	<div id="page{{type.id}}" class="tab-pane fade in {{#ifCond type.code '==' "company"}} company-tab {{/ifCond}}{{#unless index}} active {{/unless}}">
		{{#ifEquals type.code "company"}}
			<section class="pricing-section">
				<label class="toggler toggler--is-active" id="filt-monthly">Monthly</label>
					<div class="toggle">
						<input type="checkbox" id="switcher" class="check">
						<b class="b switch"></b>
					</div>
				<label class="toggler" id="filt-quarterly">Quarterly</label>
			</section>
		{{/ifEquals}}


		<div class="pricing-1 section-gray">
			<ul class="block">
				{{#each type.plans as |plan index| }}
				
				{{#ifEquals type.code "company"}}
					{{#ifEquals plan.interval_count "1"}}
						<li class='month-plan'>
					{{else}}
						<li class='quarter-plan hidden'>
					{{/ifEquals}}
				{{else}}
					<li>
				{{/ifEquals}}
					
					<div class="circleanimation color-info">
						<div class="circle-animation-front">
							{{#ifEquals type.code "independent"}}
								<div class="title">{{plan.name.en}}</div>
								<div class="price"> 
									<span class="price-chf">INR</span> 
										{{#ifEquals plan.interval "month"}}
										<span class="total">{{math plan.price "/" 30}}</span>
										{{else}}
										<span class="total">{{math plan.price "/" plan.interval_count}}</span>
										{{/ifEquals}}
									<span class="price-small">/day</span>
								</div>
								<p>{{plan.description.en}}</p>
							{{else}}
								<div class="title">{{plan.name.en}}</div>
								<div class="price"> 
									<span class="price-chf">INR</span> 
									<span class="total">{{math plan.price "/" plan.interval_count}}</span><span class="price-small">/mo</span>
								</div>
								{{#each plan.plan_features as |plan_feature index| }}
								{{#ifCond plan_feature.code '==' 'profile-management'}}
									<p>Profiles : {{plan_feature.value}}</p>
								{{/ifCond}}
								{{/each}}
							{{/ifEquals}}
								<button type="button" class="btn btn-info">BUY NOW</button>
						</div>

						<div class="circle-animation-back bg information">
							<div class="title">{{plan.name.en}}</div>
							
							<div class="description">
								<ul>
									{{#ifCond type.code '==' "company"}}
										{{#each plan.plan_features as |plan_feature index| }}
											{{#ifCond index '<' 6}}
											{{#ifCond plan_feature.code '!=' 'profile-management'}}
											<li>
												{{#ifEquals plan_feature.value "Y"}}
													<i class="fa fa-check-circle"></i>
												{{else}}
													<b>{{plan_feature.value}}</b> 
												{{/ifEquals}}
												{{plan_feature.name.en}}
											</li>		          
											{{/ifCond}}
											{{/ifCond}}
										{{/each}}                
									{{else}}
										{{#each plan.plan_features as |plan_feature index| }}
											{{#ifCond index '<' 5}}
											<li>
												{{#ifEquals plan_feature.value "Y"}}
													<i class="fa fa-check-circle"></i>
												{{else}}
													<b>{{plan_feature.value}}</b> 
												{{/ifEquals}}
												{{plan_feature.name.en}}
											</li>		          
											{{/ifCond}}
										{{/each}}
									{{/ifCond}}
								</ul>
								{{#ifCond plan.plan_features.length '>' 5}}
								<span class="tooltip-link">...</span> 
								{{/ifCond}}
							</div>

							{{#ifCond plan.plan_features.length '>' 5}}
							<div class="toolip-box">
								<ul>
									{{#ifCond type.code '==' "company"}}
										{{#each plan.plan_features as |plan_feature index| }}
										{{#ifCond index '>=' 6}}
										<li>
											{{#ifEquals plan_feature.value "Y"}}
												<i class="fa fa-check-circle"></i>
											{{else}}
												<b>{{plan_feature.value}}</b> 
											{{/ifEquals}}
											{{plan_feature.name.en}}
										{{/ifCond}}
										</li>
										{{/each}} 
									{{else}}
										{{#each plan.plan_features as |plan_feature index| }}
										{{#ifCond index '>=' 5}}
										<li>
											{{#ifEquals plan_feature.value "Y"}}
												<i class="fa fa-check-circle"></i>
											{{else}}
												<b>{{plan_feature.value}}</b> 
											{{/ifEquals}}
											{{plan_feature.name.en}}
										{{/ifCond}}
										</li>
										{{/each}} 
									{{/ifCond}}
								</ul>
							</div>
							{{/ifCond}}

							<button type="button" class="btn btn-info buy-now" data-id="{{plan.id}}">BUY NOW</button>
						</div>
					</div>
				</li>
				{{/each}} 
			</ul>
		</div>
	</div>
	{{/each}} 
</div>
